@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.cardItem {
  @apply flex flex-col gap-4 pb-12 bg-white w-full h-full text-center border-2 border-solid border-zinc-700/30;
}
